@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, rgb(12, 148, 182) 0%, red 50%, green 100%);
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
    font-family: 'Poppins', sans-serif;
}

nav ul li a:hover {
    color: #0ba2c0;
}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 48px;
    font-family: 'Poppins', sans-serif;
}

nav .menu .menu-button {
    color: #0ba2c0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 12px 24px;
    border-radius: 56px;
    transition: all .25s ease;
}

nav .menu .menu-button:hover {
    background-color: #0ba2c0;
    color: white;
}

.box{
    width: 450px;
    background: #6b5858;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: sans-serif;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}

.box img:hover{
    transform: scale(0.9);
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}

.box p{
    text-align: justify;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: aquaf;
}